/
  <PageMap>
  <DataObject type="image">
  <Attribute name="image_src" value="http://smidig2012.no/images/smidig_logo_60.png"/>
  </DataObject>
  <DataObject type="thumbnail">
  <Attribute name="src" value="http://smidig2012.no/images/smidig_logo_60.png"/>
  <Attribute name="width" value="60"/>
  <Attribute name="height" value="66"/>
  </DataObject>
  </PageMap>
