%h2.page_title Smidigkonferansens årsmøte 2013
%p
  Som deltaker på Smidig2011 og/eller Smidig2012 har vi gleden av å invitere deg til å bli medlem av Smidigkonferansen og delta på årsmøtet
  %strong 20.mars kl 17:00, på Scotsman 3 etg. venstre side, i Oslo.
  Det vil bli servert mat og drikke.
  Du kan bli medlem selv om du ikke deltar på årsmøtet.
%br
%br

%p
  Det skal velges nye styremedlemmer for årets Smidigkonferanse under årsmøte. Vi oppfordrer deltagere av tidligere konferanser til å melde seg eller foreslå andre ildsjeler som kunne bidra med sitt engasjement. Forslag sendes til valgkomiteen ved Johannes Brodwall
  %a(href="mailto:johannes@brodwall.com")
    (johannes@brodwall.com)

%br
%br
%p
  Vi trenger å vite om du kommer, gis oss tilbakemelding her:
  %a(href="https://docs.google.com/forms/d/1N57d0LCBjUuy0BV1gbejku0S5NPkDISvlPB7B4WR9rk/viewform")
    https://docs.google.com/forms/d/1N57d0LCBjUuy0BV1gbejku0S5NPkDISvlPB7B4WR9rk/viewform
%br
%br
%h3 Agenda:
%ul.bullets
  %li Sak 1/2013 - Godkjenning av innkallingen
  %li Sak 2/2013 - Godkjenning av medlemmer med stemmerett
  %li Sak 3/2012 - Valg av møteleder
  %li Sak 4/2013 - Valg av referent
  %li Sak 5/2013 - Valg av to medlemmer til å undertegne protokoll
  %li Sak 6/2013 - Godkjenning av sakslista
  %li Sak 7/2013 -. Godkjenning av årberetning
  %li Sak 8/2013 - Godkjenning av regnskap
  %li
    Sak 9/2013 - Innkomne forslag
    %ul.bullets
      %li Endring av vedtekter
  %li
    Sak 10/2013 - Saker til informasjon
    %ul.bullets
      %li Skatteetaten - skatteplikt
  %li Sak 11/2013 - Budsjett 2013
  %li Sak 14/2013 - Valg
  %li Sak 15/2013 - Eventuelt


%br
%br
%h2 Arrangørkonferanse
%p Åpent for alle! Vi holder arrangørkonferanse umiddelbart etter årsmøtet. Som alltid er det frivillige entusiaster som former konferansen og vi ønsker alle velkomne til å bidra. Møt opp og bidra til fornying og forbedring av smidigkonferansen, Smidig 2013 !
