.event-name
  Smidig 2012

.event-date
  5.-6. November, 2012
.event-location
  Radisson Blue Plaza, Oslo

.follow-us
  https://twitter.com/smidig

.contact-us
  kontakt@smidig.no

.socialize
  http://lanyrd.com/2012/smidig2012
  http://www.facebook.com/smidig
  http://www.linkedin.com/groups?gid=963587

.video-archive
  http://vimeo.com/smidig

