%h2.page_title{:id => "keynote"} NYHET: Keynotes 2012
Også i år har vi fått tak i spennende foredragsholdere som vi har invitert til å holde keynotes på Smidig 2012. Du kan lese mer om innholdet og foredragsholderene her:
%ul.bullets
  %li 
    %a(href="/keynote/risk_and_decision") Risk and Decision: The "When" rather than the "How"
  %li
    %a(href="/keynote/lean_startup") Validating a Lean Startup through Innovation Accounting

%br
%h2.page_title{:id => "about"} Om Smidigkonferansen
Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv.
Her får du høre hvordan andre prosjektdeltakere som deg takler hverdagen
i sine smidige og kanskje ikke så smidige prosjekter. Her får du stiftet
nye bekjentskaper som er i samme situasjon som deg selv. Du får forsterket
de bekjentskapene du har, og lært hvor mye både fagmiljøet og du selv har å
by på. I fjor var ca 20% av deltakerne også foredragsholdere, noe som
skaper en unik atmosfære. Ikke bare får du høre interessante foredrag, men
det er lett å snakke med foredragsholderne gjennom hele konferansen.

%br 
%br
Årets konferanse er den sjette i rekken og finner sted 5.-6.&nbsp;november 
på 
%a{:href => "https://maps.google.no/maps?ie=UTF-8&q=Radisson+Blu+Plaza+Hotel&fb=1&gl=no&hq=Radisson+Blu+Plaza+Hotel&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo&cid=0,0,16952836887241703173&ei=ftdpUNmqHLLZ4QTDt4H4DQ&ved=0CKgBEPwSMAA", :target => "_blank"}
  Radisson Blu Plaza Hotel i Oslo.
Begge dager åpner klokken 8:00 og programmet starter klokken 9:00. Første dag avsluttes med middag og sosiale aktiviteter.  
%br

.highlight
  %a(href="http://participate.smidig2012.no/") Meld deg på Smidig 2012 nå!


.contentblock{:id => "why"}
  %h3 Hvorfor Smidigkonferensen?

  Vi tror at IT-prosjekter i Norge kan lære mye av prinsippene bak smidig
  utvikling. Derfor arrangerer vi Smidigkonferansen for å dele erfaringer og bidra 
  til å øke kunnskapen om smidige metoder i Oslo og Norge.

.contentblock
  %h3 Vårt unike format
  Begge konferansedagene følger samme format: Lyntaler (korte, erfaringsbaserte foredrag) før lunsj og
  diskusjonsgrupper (open space) etter lunsj. Hver lyntale er på ti minutter, så i løpet av formiddagen 
  vil du få med deg intill 12 forskjellige lyntaler. I Open Space etter lunsj stemmer deltakerne selv frem hvilke 
  temaer de ønsker å fordype seg i, og jobber så med disse problemstillingene i mindre grupper. 
  Enkle regler sikrer interaktivitet og faglig utbytte for deltakerne.

  %br
  %br
  Også i år kommer vi til å kjøre flere spennende workshops under konferansen. Dette er en unik mulighet for deltakerne til å lære noe noe nytt. 
  %a(href="http://participate.smidig2012.no/talks/new") Foreslå din lyntale eller workshop nå!
  %br

  .highlight
    Fristen for å foreslå lyntale eller workshop er 15. oktober.

.news.contentblock
  %h2.page_title Nyheter fra smidigkonferansen
  = partial :twitter_widget

.contentblock{:id => "voluntary"}
  %h2.page_title Har du lyst å bli med?
  %p
    Smidigkonferansen startet med noen fluktige tanker i hodene på noen, og har blitt gjort mulig av entusiaster som 
    uoppfordret tilbød seg å gjennomføre alle de oppgavene som må til. Smidigkonferansen hadde ikke vært 
    til hvis det ikke var for et fantastisk team av ildsjeler. 
    %a(href="http://groups.google.com/group/smidig2012") Finn ut mer på vår interne mailingliste.

.contentblock{:id => "contribute"}
  %h2.page_title Bidra til Smidig 2012
  Det finnes flere måter du kan bidra til det faglige innholdet på årets smidigkonferanse. 
  %br
  %br
  %h4 Lyntaler
  Lyntaler (”lightning talks” på engelsk) er tapas i foredragsholdernes verden: man får mange impulser fra mange forskjellige folk. På Smidig 2012 er tidsbegrensning til lyntaler ti minutter. Dette inspirerer foredragsholderne til å destillere budskapet sitt ned til det aller viktigste, og fjerne alle unødvendige deler. Har du noe på hjertet? 
  %br
  %a(href="http://participate.smidig2012.no/talks/new") Foreslå din lyntale nå!
  
  %br
  %br
  %h4 Open space
  I Open space, en type diskusjonsgruppe, dykker man dypere ned i de temaene deltakerne selv synes er mest interessante. Legenden sier at ideen til Open Space ble født av observasjonen om at på tradisjonelle konferanser er det ofte diskusjonene i kaffepausen som er mest givende. Tanken er å sette rammer som gjenskaper denne stemningen hvor man deler erfaringer og lærer av hverandre. Med inspirasjon fra lyntalene, eller med fokus på akkurat det problemet du sliter med i din organisasjon, har du en unik mulighet til å diskutere temaet nærmere med andre som har tilsvarende interesser og problemstillinger.
.contentblock{:id => "sponse"}
  %h2.page_title Vil din bedrift sponse smidig 2012?
  Smidigkonferansen er et spleiselag mellom arrangører, deltakerer og bedrifter som stiller seg bak og støtter konferansen. Rundt 50% av konferansen utgifter dekkes gjennom sponsormidler og er årsaken til at vi kan holde så lave priser. 

  %a(href="/sponse") Les mer om å sponse Smidigkonferansen. 