Smidig 2012

5.-6. November, 2012
Radisson Blue Plaza, Oslo


http://vimeo.com/smidig

http://lanyrd.com/2012/smidig2012/

https://twitter.com/smidig

http://www.facebook.com/smidig

http://www.linkedin.com/groups?gid=963587

kontakt@smidig.no
