.event-name
  Smidig 2012

.event-date
  5.-6. November, 2012
.event-location
  Radisson Blue Plaza, Oslo

.about-event
  Sixth iteration of Norways Agile conference series.
  We are still working on the concept. Stay tuned!

.call-for-money
  Smidig is organized by volunters and depends on sponsormoney.
  Want to become sponsor?  Ask us for our sponsorpakke.

.call-for-participation
  We're hiring.

.follow-us
  https://twitter.com/smidig

.contact-us
  kontakt@smidig.no

.socialize
  http://lanyrd.com/2012/smidig2012
  http://www.facebook.com/smidig
  http://www.linkedin.com/groups?gid=963587

.video-archive
  http://vimeo.com/smidig

