%h1
  Smidig 2012

%p
  5.-6. November, 2012 <br/>
  Radisson Blue Plaza, Oslo

%ul
  %li
    %a(href="https://twitter.com/smidig")
      @smidig p책 twitter
  %li
    %a(href="http://lanyrd.com/2012/smidig2012/")
      Smidig 2012 p책 Lanyrd.com
  %li
    %a(href="http://www.facebook.com/smidig")
      Smidig p책 Facebook
  %li
    %a(href="http://www.linkedin.com/groups?gid=963587")
      Smidig p책 LinkedIn
  %li
    %a(href="mailto:kontakt@smidig.no")
      kontakt@smidig.no


