!!! 5
%html(lang="no")
  %head
    %meta(charset="utf-8")
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}

    %title Smidig 2012

    /[if lt IE 8]
      %link(rel="stylesheet" href="/stylesheets/ie_1140.css")
    %link(rel="stylesheet" href="/stylesheet")

    %script(charset="utf-8" src="/javascript/jquery-1.7.2.min.js")
    %script(charset="utf-8" src="/javascript/sponsor.js")
    :javascript
      smidig.sponsor.init("");
      //Fix IE missing footer-tag
      document.createElement('footer');

  %body
    =yield
