.contentblock{:id => "open_space"}
  Bruk hashcode 
  %strong #smidig2012os 
  når du twitrer ditt open-space forslag. Dette vil føre til at forslaget ditt vil dukke opp i denne lista. 

  %h2.page_title Open Space forslag til Smidig 2012
  %p
  .twitter.os{:data => {:showuser => "true", :showtime => "true", :url => "http://search.twitter.com/search.json?q=%23smidig2012os&src=typd&rpp=100", :limit => "100", :reload => "60"} } 