%h2.page_title Sikkerhet og personvern
%p Smidigkonferansen kommer aldri til å selge videre dine personopplysninger til en tredjepart eller levere ut opplysninger til utenforstående. Vi benytter dem kun for å håndtere din påmelding til konferansen og sende deg mail i henhold til valgene du gjør ved registrering. Ved registrering samtykker du i at de oppgitte opplysninger lagres. 
%br

%p Dersom du godtar å motta e-post fra konferansen vil kunne melde deg av listen med en link i mailen.
%br

%p Du må være over 18 år for å melde deg på Smidigkonferansen.
%br

%p For øvrig vises til gjeldende norske lover og regler.