.contentblock
  %h2.page_title Smidig 2012 matriell
  %ul.bullets
    %li
      %a{:href => "/images/profilering/Smidig2012_annonse.pdf"} Smidig2012_annonse.pdf
    %li
      %a{:href => "/images/profilering/Smidig2012_annonse-01.png"} Smidig2012_annonse-01.png
    %li
      %a{:href => "/images/profilering/Smidig2012_plakat_v04.png"} Smidig2012_plakat_v04.png
    %li
      %a{:href => "/images/profilering/Smidig2012_kort_v01-01-01.png"} Smidig2012_kort_v01-01-01.png
    %li
      %a{:href => "/images/profilering/Smidig2012_kort_v01-01-02.png"} Smidig2012_kort_v01-01-02.png
    %li
      %a{:href => "/images/profilering/slide-markedsføring.pptx"} slide-markedsføring.pptx
    %li
      %a{:href => "/images/profilering/slide-markedsføring.jpg"} slide-markedsføring.jpg