.contentblock{:id => "sponse"}
  %h2.page_title Validating a Lean Startup through Innovation Accounting
  %p
    "Running Lean" is a rigorous approach for quickly testing new product ideas and raising the odds of success. The framework is based on The Lean Startup and our own experiences as entrepreneurs, covering the complete lifecycle from understanding a customer's problem to identifying and optimizing your engine of growth.
    %br
    %br
    This talk details our most recent work on Innovation Accounting: How we can measure progress in form of validated learning from customers.
    %br
    %br
    In order to not run over budget or out of resources, we need to keep a laser-sharp customer and revenue focus throughout the early stages of a company. Instead of separating work into silos, we use a company-wide "Validated Learning Board" that helps everyone understand, communicate and measure progress.
    %br
    %br
    The board allows us to run experiments together as a team of engineers, designers, marketers and product managers, validate the outcome, and quickly identify the path to customers and revenue.
    %br
    %br
    %strong
      Specifically, in this talk you will learn:
    %ul.bullets
      %li How to assess the risk of a business model
      %li Defining experiments and falsifiable hypothesis using A3 reports
      %li The lifecycle of an experiment on the "Validated Learning Board"
      %li Why this works significantly better than adding a "Validated" column to your existing Kan-ban board
      %li SLA & Work-in-Progress limits for Experiments
      %li How to know whether to pivot or persevere
    %br
    %br
    The audience will also get access to the necessary templates to start using the approach within their own organization.


%h3 Lukas Fittl
%p 
  Lukas Fittl is a serial entrepreneur who works with Ash Maurya at 
  %a{:href=>"http://spark59.com/", :target=>"_blank"} Spark59 
  on workshops & online tools of the "Running Lean" approach and toolset. His work focuses on product management in a Lean Startup, and how we can encourage leadership and customer learning at all levels of an organization.