.contentblock{:id => "sponse"}
  %h2.page_title Risk and Decision: The "When" rather than the "How"
  %p
    While HOW to make decisions is important, the WHEN to make decisions is critical to your chances of success. Olav and Chris present Real Options, an approach they have been working on since 2006 that focuses on the "When" rather than the "How" of decision making.
    %br
    %br
    Timing is everything, however deferring commitments causes stress to many people. Real options helps you manage that stress by creating bounded uncertainty in an context of total uncertainty. This is not a simple process that you copy and learn to adopt through practice. This is a new way at looking at the world around you that starts by learning to differentiate between options and commitments. Olav and Chris help do this through an interactive exercise.
    %br
    %br
    It turns out that the way you manage your options is to focus on commitments and attempt to avoid or defer them.  After identifying commitments, Olav and Chris discuss creating options to turn the commitments into reversible commitments. 
    %br
    %br
    Olav and Chris are currently creating "Commitment", a graphic business novel about managing project risk. Because they eat their own dog Real Options plays a big part in the creation part of the book as well. They present the creation process as a case study about applying Real Options and how that leads to different behavior.
    %br
    %br
    Finally they present a number of mini case studies where other people have applied Real Option thinking in "out of the box" situations. Once you get it, it will change your life.

%h3 Olav Maassen
%p
  %img.profile{:src=> "/images/keynote/Olav-Headshot.jpeg", :width => "200px"}
  Olav Maassen is an experienced consultant at Xebia in the Netherlands and has more than ten years of experience working mainly for financial institutions and big corporations. After Chris and Olav ran into each other in 2005 they have subsequently extended their model to incorporate applied psychology and various other disciplines. Unlike the "traditional" Real Options approach that is based on Black-Scholes, the approach that Olav and Chris developed avoids the complex mathematics and focuses on the practical implications of options.
  %br 
  %br           
  Their real options model (also known as the real options meme) teaches us to understand the timing of decision making and help discover new options not appreciated before.
  %br
  %br
  Olav and Chris have teamed up with Chris Geary to create the first business graphic novel about managing risk on projects. In the novel the main character (Rose Randall) learns how to apply the real options approach to the way she manages her new project. 
  %br
  %br
  You can follow Olav at 
  %a{:href=>"http://twitter.com/OlavMaassen", :target=>"_blank"} twitter.com/OlavMaassen

%br
%h3 Chris Matts
%p
  %img.profile{:src=> "/images/keynote/ChrisM-Headshot.jpeg", :width => "200px"}
  Chris Matts is a consultant who specializes in developing risk management and trading system for investment banks. He has studied for a masters degree in financial mathematics ( Mathematical Trading and Finance ).
  Chris used his extensive knowledge of financial derivatives to develop an approach on how to deal with decision making and named it real options. After Chris and Olav ran into each other in 2005 they have subsequently extended their model to incorporate applied psychology and various other disciplines. Unlike the "traditional" Real Options approach that is based on Black-Scholes, the approach that Olav and Chris developed avoids the complex mathematics and focuses on the practical implications of options.
  Their real options model (also known as the real options meme) teaches us to understand the timing of decision making and help discover new options not appreciated before.
  %br
  %br   
  Olav and Chris have teamed up with Chris Geary to create the first business graphic novel about managing risk on projects. In the novel the main character (Rose Randall) learns how to apply the real options approach to the way she manages her new project. 
  %br
  %br
  You can follow Chris at twitter.com/PapaChrisMatts
  %a{:href=>"http://twitter.com/OlavMaassen", :target=>"_blank"} twitter.com/OlavMaassen